DATABASE_URL="postgresql://afrite:afrite@localhost:5432/afrite?schema=public"
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY="local-master-key"
OPENAI_API_KEY=""
MAPBOX_TOKEN=""
S3_ENDPOINT="http://localhost:9000"
S3_BUCKET="afrite-media"
S3_ACCESS_KEY_ID="afrite"
S3_SECRET_ACCESS_KEY="change-me"
